body {
    background: url("../images/pokemonbackground.jpg");
    background-size: cover;
    
}

.character {
    height: 120px;
    width: 150px;
    margin: 10px;
    border: solid 2px black;
    float: left;
}

#pikapic {
    position: relative;
    float: center;
    margin: 5px;
    clear: both;
}
#bulbapic {
    position: relative;
    float: center;
    margin: 5px;
    clear: both;
}
#charpic {
    float: relative;
    margin: 5px;
    clear: both;
}
#koffpic {
    float: relative;
    margin: 5px;
    clear: both;
}
